@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Satisfy&display=swap');

:root {
    --main-theme-color: #007bff;
    --font-color: #303135;
    --font-color-grey: #71747D;
    --hover-main-color: #429dff;
    --price-color: #F15C59;
    --biru-muda: #cce6ff;
    --border-radius-color: #bfbfbf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.3s;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* height: 2000px; */
}

.header {
    padding: 20px 7%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; */
    background-color: #fff;
}


.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 120px;
}

.header .links a,
button {
    margin: 0 10px;
    color: var(--font-color);
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}

.header .links button {
    cursor: pointer;
}

.header .row {
    margin-top: 10px;
}

.header .row:first-child {
    margin-top: 0;
}

.header .row input {
    font-family: 'Poppins', sans-serif;
    width: 350px;
    padding: 7px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: 1px solid var(--main-theme-color);
}

.header #daftar {
    padding: 6px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--main-theme-color);
    transition: .4s;
}

.header #daftar:hover {
    background-color: var(--hover-main-color);
}

.wrapper {
    display: flex;
    gap: 10px;
    /* margin-top: 130px; */
}

.wrapper .map {
    /* margin-top: 140px; */
    position: sticky;
    top: 0;
}

.hotel-list {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: space-between;
    /* gap: 10px; */
    /* margin-top: 140px; */
    padding: 0 0 0 7%;
    width: 750px;
}

.hotel-list img {
    height: 100%;
    width: 214px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.hotel-list .card {
    display: flex;
    width: 650px;
    height: 250px;
    /* border: 1px solid red; */
    border-radius: 7px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    color: var(--font-color);
    margin-bottom: 20px;
}

.hotel-list .card .caption {
    padding: 10px;
    width: 100%;
}

.hotel-list .card .title,
.hotel-list .card .rating {
    margin-bottom: 3px
}

.row:first-child .rating {
    display: flex;
    gap: 10px;
    font-size: 13px;
}

.row:first-child .review {
    display: flex;
    gap: 7px;
    font-size: 13px;
}

.hotel-list .row:nth-child(2) {
    text-align: end;
    font-size: 14px;
    margin-top: 10px;
}

.hotel-list .row:first-child .star {
    font-size: 11px;
}

.hotel-list .row:nth-child(2) .banner p {
    background-color: var(--price-color);
    padding: 2px;
    width: 100px;
    margin-left: 315px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
}

.hotel-list .row:nth-child(2) .price {
    line-height: 20px;
    margin-top: 8px;
}

.hotel-list .row:nth-child(2) .last-price {
    font-size: 13px;
    text-decoration: line-through;
    color: var(--font-color-grey);
    font-weight: 500;
}

.hotel-list .row:nth-child(2) .current-price {
    font-size: 18px;
    color: var(--price-color);
}

.hotel-list .row:nth-child(2) .sk {
    font-size: 12px;
    color: var(--font-color-grey);
    font-weight: 500;
}

.hotel-list .row:last-child {
    display: flex;
    gap: 10px;
    font-size: 12px;
    margin-top: 28px;
    padding-top: 7px;
    border-top: 1px solid var(--border-radius-color);
}

.hotel-list .row:last-child P {
    padding: 3px 7px;
    background-color: var(--main-theme-color);
    border-radius: 5px;
    color: #fff;
}

.hotel-list .row:first-child .addr {
    color: var(--font-color-grey);
    font-weight: 500;
}

.hotel-list .row:first-child .userreview {
    color: var(--font-color-grey);
    font-size: 13px;
    font-weight: 500;
}