@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Satisfy&display=swap");

:root {
  --main-theme-color: #007bff;
  --font-color: #303135;
  --font-color-grey: #71747d;
  --hover-main-color: #429dff;
  --price-color: #f15c59;
  --biru-muda: #cce6ff;
  --border-radius-color: #bfbfbf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----- HEADER ------ */

.header {
  padding: 20px 7%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 120px;
}

.header .links a,
button {
  margin: 0 10px;
  color: var(--font-color);
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}

.header .links button {
  cursor: pointer;
}

.header .row {
  margin-top: 10px;
}

.header .row:first-child {
  margin-top: 0;
}

.header .row input {
  font-family: "Poppins", sans-serif;
  width: 350px;
  padding: 7px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  border: 1px solid var(--main-theme-color);
}

.header #daftar {
  padding: 6px 16px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--main-theme-color);
  transition: 0.4s;
}

.header #daftar:hover {
  background-color: var(--hover-main-color);
}

/* ---- END HEADER ----- */

/* ----- HERO IMAGE ---- */

.hero-image {
  margin-top: 0;
}

.hero-image .row {
  display: flex;
  gap: 15px;
}

.hero-image .col:first-child {
  height: 472px;
}

.hero-image .col:first-child img {
  width: 667px;
  height: 472px;
  object-fit: cover;
}

.hero-image .col:first-child img:hover,
.hero-image .col:last-child img:hover {
  filter: brightness(60%);
}

.hero-image .col:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.hero-image .col:last-child img {
  width: 325px;
  height: 228px;
}

/* --- END HERO SECTION ----- */

/* --- NAVBAR SECTION ---- */

.navbar {
  width: 1133px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-radius-color);
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

.navbar a {
  display: inline-block;
  margin: 0 10px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--font-color-grey);
}

/* ---- NAVBAR END ---- */

/* --- INFO UMUM ---- */

.info-umum .row {
  width: 1133px;
  margin: auto;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 80px 0 30px 0;
  border-bottom: 1px solid var(--border-radius-color);
}

.info-umum .col:last-child {
  text-align: end;
}

.info-umum .row .rating {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--font-color);
}

.info-umum .row .rating .kategori {
  border: 1px solid var(--font-color);
  padding: 0 5px;
  border-radius: 5px;
  font-size: 14px;
}

.info-umum .col .title {
  font-size: 25px;
  margin-top: 8px;
}

.info-umum .rate,
.info-umum .location {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 15px;
  margin-top: 8px;
}

.info-umum .rate p,
.info-umum .location p {
  color: var(--font-color-grey);
  font-weight: 500;
}

.info-umum .col .banner {
  font-size: 12px;
  border: 1px solid red;
  text-align: center;
  padding: 4px 3px;
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
}

.info-umum .col .sub-caption {
  margin-top: 3px;
}

.info-umum .col .price {
  font-size: 18px;
  line-height: 22px;
}

.info-umum .col .price .sub-price {
  font-size: 12px;
}

.info-umum .col .price .harga {
  color: var(--price-color);
}

.info-umum .col .time {
  margin-top: 4px;
  font-size: 12px;
}

.info-umum .col .link-a {
  margin-top: 10px;
  background-color: var(--main-theme-color);
  width: 110px;
  margin-left: 90px;
  font-size: 14px;
  text-align: center;
  padding: 8px 0;
  border-radius: 6px;
}

.info-umum .col .link-a a {
  color: #fff;
}

.info-umum .col .link-a:hover {
  background-color: var(--hover-main-color);
}

/* --- AKUN ---- */

.akun .row {
  width: 1133px;
  margin: auto;
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid var(--border-radius-color);
  align-items: center;
}

.akun .col:first-child {
  display: flex;
  gap: 20px;
  align-items: center;
}

.akun .col img {
  width: 55px;
}

.akun .col .caption p {
  font-size: 14px;
  color: var(--font-color-grey);
}

.akun .col .link a {
  padding: 10px 15px;
  font-size: 14px;
  color: var(--main-theme-color);
  font-weight: 500;
  border-radius: 7px;
  background-color: var(--biru-muda);
}

/* -- BENEFIT --- */
.benefit .container,
.fasilitas .container,
.lokasi .container,
.tentang .container,
.faq .container,
.kamar .container,
.rekomendasi .container {
  width: 1133px;
  margin: auto;
  padding: 30px 0;
  color: var(--font-color);
  border-bottom: 1px solid var(--border-radius-color);
}

.benefit .title,
.fasilitas .title,
.lokasi .title,
.tentang .title,
.faq .title,
.kamar .title,
.rekomendasi .title {
  margin-bottom: 35px;
  font-size: 19px;
}

.benefit .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.benefit .card {
  display: flex;
  gap: 10px;
  align-items: center;
}

.benefit .card img {
  width: 54px;
}

.benefit .card p {
  font-size: 14px;
  color: var(--font-color-grey);
}

/* FASILITAS */
.fasilitas .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fasilitas .card .sub-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 25px;
}

.fasilitas .card .sub-card .img {
  height: 30px;
}

.fasilitas .card .sub-card img {
  width: 25px;
}

.fasilitas .card .sub-card {
  margin-bottom: 10px;
}

/* LOKASI */

.lokasi .row {
  display: flex;
  gap: 20px;
  color: var(--font-color);
}

.lokasi .col .address {
  color: var(--font-color-grey);
}

.lokasi .col .sub-title h4 {
  padding: 16px 0;
  border-bottom: 1px solid var(--border-radius-color);
}

.lokasi .tempat-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.lokasi .sub-card:first-child {
  display: flex;
  gap: 10px;
}

.lokasi .sub-card .img {
  height: 50px;
}

.lokasi .sub-card img {
  width: 45px;
}

.lokasi .tempat .nama-tempat {
  font-size: 15px;
  font-weight: 500;
}

.lokasi .tempat .tempat-kategori {
  font-size: 14px;
  color: var(--font-color-grey);
}

/* FAQ */
.faq .accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--border-radius-color);
  cursor: pointer;
  transition: 0.4s;
}

.faq .accordion h4 {
  font-size: 15px;
}

.faq .panel {
  padding: 10px 0;
  display: none;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.faq .panel p {
  font-size: 14px;
}

/* KAMAR */
.kamar .kamar-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.kamar .kamar-row:last-child {
  margin-top: 25px;
}

.kamar .col:first-child {
  width: 228px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.kamar .kamar-row img {
  width: 227px;
  height: 89px;
  object-fit: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.kamar .kamar-row .caption {
  padding: 10px;
}

.kamar .col:last-child {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
}

.col:last-child .col-title {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-radius-color);
}

.col:last-child .col-title p {
  font-size: 13px;
  color: var(--font-color-grey);
}

.col:last-child .content {
  display: flex;
  gap: 10px;
}

.col:last-child .content:nth-child(2),
.col:last-child .content:nth-child(3),
.col:last-child .content:nth-child(4) {
  margin-top: 10px;
}

.col:last-child .content img {
  width: 18px;
  height: auto;
}

.col:last-child .content p {
  font-size: 14px;
  color: var(--font-color-grey);
}

.kamar .row-info-kamar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.kamar .row-info-kamar:last-child {
  text-align: end;
}

.kamar .info-kamar-banner p {
  font-size: 12px;
  background-color: var(--price-color);
  color: #fff;
  padding: 4px 7px;
  border-radius: 5px;
  width: 100px;
  margin-left: 100px;
}

.kamar .col-info-kamar:last-child .price {
  line-height: 20px;
  margin-top: 6px;
}

.kamar .col-info-kamar:last-child .last-price {
  font-size: 13px;
  color: var(--font-color-grey);
  text-decoration: line-through;
}

.kamar .col-info-kamar:last-child .permalam {
  font-size: 12px;
  color: var(--font-color-grey);
}

.kamar .col-info-kamar:last-child .new-price {
  color: var(--price-color);
}

.kamar .col-info-kamar:last-child .links {
  margin: 9px 0;
}

.kamar .col-info-kamar:last-child .links a {
  background-color: var(--main-theme-color);
  color: #fff;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 7px;
}

.kamar .kamar-row .fasilitas-kamar {
  display: flex;
  gap: 10px;
}

.kamar .kamar-row .fasilitas-kamar:nth-child(2),
.kamar .kamar-row .fasilitas-kamar:nth-child(3),
.kamar .kamar-row .fasilitas-kamar:nth-child(4) {
  margin-top: 7px;
}

.kamar .kamar-row .fasilitas-kamar p {
  font-size: 14px;
  color: var(--font-color-grey);
}

.kamar .kamar-row .fasilitas-kamar img {
  width: 18px;
  height: auto;
}

.kamar .row .col {
  border-radius: 7px;
}

/* REKOMENDASI */
.rekomendasi .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rekomendasi .row .col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rekomendasi .col a {
  text-decoration: none;
  color: var(--font-color);
  font-size: 15px;
}

.rekomendasi .col a:hover {
  color: var(--main-theme-color);
  text-decoration: underline;
}

/* FOOTER */
footer {
  margin-top: 10px;
  padding: 30px 7%;
}

footer .footer-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  padding: 20px 0;
}

footer .footer-con .box {
  display: flex;
  flex-direction: column;
}

footer .footer-con .box h3 {
  font-size: 15px;
  margin-bottom: 20px;
}

footer .footer-con .box .message,
.mail,
.phone {
  display: flex;
  margin-bottom: 20px;
}

footer .footer-con .box p {
  margin-left: 9px;
}

footer .footer-con .box a {
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
}

footer .footer-con .box a:hover {
  color: var(--main-theme-color);
}

footer p {
  font-size: 15px;
}

.social {
  padding: 20px 7%;
  text-align: center;
  border-top: 1px solid var(--font-color-grey);
}

.social p {
  margin: 10px 0;
}

.social-icon img {
  width: 25px;
  height: 25px;
}

.social .social-icon {
  margin: 16px 0;
}

.social .social-icon a {
  padding: 0 4px;
}

.social .cpr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .cpr img {
  width: 13px;
  height: 13px;
}

.social .cpr span {
  margin-left: 3px;
  font-size: 14px;
}

.copyright p {
  margin-left: 20px;
}