@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Satisfy&display=swap');


:root {
    --main-theme-color : #007bff;
    --font-color : #303135;
    --font-color-grey : #71747D;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.3s;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    padding: 20px 7%;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
}
.header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 18px;
}
.header .links a,
button{
    margin: 0 10px;
    color: var(--font-color);
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}
.header .links button{
    cursor: pointer;
}
.header .row{
    margin-top: 10px;
}
.header .row:first-child{
    margin-top: 0;
}
.header .row input{
    font-family: 'Poppins', sans-serif;
    width: 350px;
    padding: 7px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    border: 1px solid var(--main-theme-color);
}
.header #daftar {
    padding: 6px 16px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--main-theme-color);
    transition: .4s;
}
.banner{
    padding: 110px 0 0;
    width: 100%;
    height: 100vh;
}
.banner img{
    width: 100%;
    height: auto;
}
.service {
    padding: 0 7%;
}
.service .title {
    text-align: center;
}
.service .title h3{
    font-size: 24px;
    color: var(--font-color);
}
.service .title p {
    margin-top: 10px;
    font-size: 18px;
    color: #71747D;
}
.service .row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.service .row img {
    width: 170px;
    height: auto;
}
.dropdown {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 70px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s linear;
    display: none;
}
.dropdown.active {
    display: flex;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.banner-cs{
    padding:70px 7% 0;
}
.banner-cs img {
    width: 100%;
    height: auto;
}
.sk {
    padding: 0 12%;
    margin-top: 50px;
}
.benefit {
    padding: 0 12%;
    margin-top: 50px;
}
.benefit .row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    border-bottom: 1px solid var(--font-color-grey);
}
.benefit .row img {
    max-width: 64px;
    height: 64px;
}
.benefit .row p,
span {
    font-size: 14px;
}
.benefit .benefit-title h3 {
    color: var(--font-color);
}
.benefit .row p {
    font-weight: 600;
    color: var(--font-color);
}
.benefit .row-container {
    margin-top: 10px;
}

.howto{
    margin-top: 100px;
    padding: 0 10%;
}
.howto .title {
    text-align: center;
    color: var(--font-color);
}
.howto .row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.howto .row img {
    width: 247px;
    height: 185px;
}
.howto .col {
    max-width: 249px;
}
.howto .col .capt {
    /* padding: 0 3px; */
    margin-top: 10px;
    text-align: center;
}
.howto .capt p{
    font-weight: 600;
    font-size: 14px;
    color: var(--font-color);
}
.howto .capt .sub-capt {
    margin-top: 10px;
    color:  var(--font-color-grey);
    font-size: 14px;
}

.warning {
    margin-top: 90px;
    padding: 0 10%;
}
.warning h3 {
    font-size: 18px;
    color: var(--font-color);
}
.warning .capt {
    margin-top: 14px;
    font-size: 15px;
    font-weight: 400;
}
.warning .cp {
    margin-top: 14px;
}
.warning .cp p{
    font-size: 15px;
    font-weight: 400;
}
.warning .sub-warn {
    margin-top: 14px;
    font-size: 15px;
    font-weight: 400;
}
.warning .sub-warn a {
    text-decoration: underline;
}

.sk-card{
    padding: 10px 10%;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #71747D;
}
.sk-card .col{
    width: 247px;
    text-align: center;
}
.sk-card .box img {
    width: 56px;
    height: 56px;
}
.sk-card .capt {
    margin-top: 8px;
}
.sk-card .col h3{
    font-size: 16px;
    color: var(--font-color);
}
.sk-card .col .sub-capt{
    margin-top: 10px;
    font-size: 15px;
    color: #71747D;
}
.sk-card .kl-link {
    margin: 10px;
    font-weight: bold;
}
.sk-card .kl-link a{
    color: var(--main-theme-color);
}

footer {
    padding: 20px 7%;
    color: var(--font-color);
    border-bottom: 1px dashed var(--font-color-grey);
}

footer .footer-con{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    border-bottom: 1px dashed var(--border-radius-color);
    padding: 20px 0;
}

footer .footer-con .box{
    display: flex;
    flex-direction: column;
}

footer .footer-con .box h3{
    font-size: 15px;
    margin-bottom: 20px;
}

footer .footer-con .box .message,
.mail, .phone {
    display: flex;
    margin-bottom: 20px;
}

footer .footer-con .box p{
    margin-left: 9px;
}

footer .footer-con .box a{
    font-size: 15px;
    margin-bottom: 10px;
    color: #000;
}
footer .footer-con .box a:hover {
    color: var(--main-theme-color);
}

footer p{
    font-size: 15px;
}

.social {
    padding: 20px 7%;
    text-align: center;
}

.social p{
    margin: 10px 0;
}

.social-icon img{
    width: 25px;
    height: 25px;
}

.social .social-icon {
    margin: 16px 0;
}

.social .social-icon a{
    padding: 0 4px;
}

.social .cpr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .cpr img {
    width: 13px;
    height: 13px;
}

.social .cpr span {
    margin-left: 3px;
    font-size: 14px;
}
.copyright p {
    margin-left: 20px;
}
.arrow {
    position: fixed;
    top: 600px;
    right: 15px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: center;
    gap: 10px;
}
.arrow a{
    padding: 8px;
    background-color: var(--main-theme-color);
    color: #fff;
    display: flex;
    text-align: center;
    border-radius: 8px;
}
.arrow .page a{
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    padding: 8px;
    font-size: 14px;
    border-radius: 8px;
    color: var(--font-color);
}