@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&family=Satisfy&display=swap');

:root {
    --black-color: #303135;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

body {
    box-sizing: border-box;
}

header {
    padding: 15px 7%;
    background-color: #aeaeae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .logo a {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
}

header .navlink {
    display: flex;
    gap: 13px;
}

header .menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    display: none;
}

header .menu div {
    width: 20px;
    border: 1px solid var(--black-color);
}

header .hidden-nav {
    display: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../asset/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .content {
    text-align: center;
}

.hero .content h3 {
    font-size: 50px;
    color: #fff;
    line-height: 60px;
}

.hero .content .cta {
    margin-top: 50px;
}

.hero .content .cta a {
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 16px;
}

.hero .content .cta a:hover {
    background-color: #fff;
    color: var(--black-color);
}

.hero .content p {
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
}

.welcome-menu {
    padding: 60px 7%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.welcome-menu article {
    text-align: center;
}

.welcome-menu img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.welcome-menu p:first-child {
    font-size: 17px;
}

.welcome-menu h3 {
    margin-top: 10px;
    font-size: 40px;
}

.welcome-menu .text {
    margin-top: 10px;
}

.welcome-menu .cta {
    margin-top: 40px;
}

.welcome-menu .cta a {
    padding: 10px 16px;
    border: 1px solid var(--black-color);
    border-radius: 20px;
}

.menu {
    background-color: var(--black-color);
    padding: 60px 7%;
    color: #fff;
}

.menu h3 {
    text-align: center;
    font-size: 35px;
}

.menu .row {
    padding-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu .col {
    width: 240px;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
}

.row .col img {
    width: 240px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.menu .row .col article {
    color: var(--black-color);
}

.menu article p:first-child {
    padding: 10px 0;
    font-weight: 600;
    font-size: 18px;
}

.menu article p:last-child {
    font-size: 15px;
}

.info {
    padding: 60px 7%;
}

.info h3 {
    font-size: 35px;
    margin-bottom: 25px;
}

.accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    border-bottom: 1px solid #444;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 14px 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

@media (max-width: 768px) {
    .hero .content {
        text-align: center;
        padding: 0 1%;
    }

    .welcome-menu {
        padding: 60px 7%;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
    }

}

@media (max-width: 576px) {

    header .navlink {
        display: none;
    }

    /* header .menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    } */

    header .hidden-nav.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 57px;
        right: 0;
        width: 160px;
        padding: 7px;
        box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    }

    .hero .content h3 {
        font-size: 25px;
        color: #fff;
        line-height: 35px;
    }

    .welcome-menu {
        padding: 60px 7%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
    }

    .welcome-menu img {
        width: 310px;
        height: 310px;
        object-fit: cover;
        border-radius: 20px;
    }
}

@media (max-width: 425px) {
    .welcome-menu {
        padding: 60px 7%;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        flex-wrap: wrap;
    }
}